/**
 *
 * Font imports
 *
**/

@import url(http://fonts.googleapis.com/css?family=Lobster|Roboto:300,400);

/**
 *
 * Per-Slide things
 *
**/

.sectionHeader {
	font-size: 40px;
	font-family: 'Lobster', cursive;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.sectionMain {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Roboto', sans-serif;
}
/**
 *
 * Slide 1
 *
**/

#foundationText {
	font-size: 144px;
	font-family: 'Lobster', cursive;
}
#drivenText {
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
}
#topSectionSubtitle {
	font-size: 16;
}
/**
 *
 * Slide 2
 *
**/

.project-name {
	font-family: 'Lobster', cursive;
}
.project-description {
	font-family: 'Roboto', cursive;
}
.project-icons {
	font-size: 7em;
	color: #000000;
}
.project-link {
	color: #000000;
}
.contactUsForm {} .contactUsName {
	border: 0px;
	outline: 0px;
	text-decoration: underline;
	background-color: #34495e;
	font-family: 'Lobster', cursive;
	text-align: center;
	color: #ecf0f1;
	font-size: 22px;
}
.contactUsMessage {
	outline: 0px;
	border: 0px;
	color: #ecf0f1;
	background-color: #2c3e50;
}
.contactUsSubmit {
	background-color: #2c3e50;
	border-radius: 5px;
	outline: 0px;
	border: 0px;
	padding: 5px;
}
.twitter-timeline {
	height: 200px;
}
